<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>186173018237-kurhoiu53ektvg1ovn9ldvj8j6jmn1a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186173018237-kurhoiu53ektvg1ovn9ldvj8j6jmn1a6</string>
	<key>API_KEY</key>
	<string>AIzaSyCr9HM9q5iuAnvP8S2lHpdzyQFxTqmegnE</string>
	<key>GCM_SENDER_ID</key>
	<string>186173018237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deeev.VRcyclingTest</string>
	<key>PROJECT_ID</key>
	<string>angelhack11-7c8ce</string>
	<key>STORAGE_BUCKET</key>
	<string>angelhack11-7c8ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186173018237:ios:c07f6c7a04bb6cc6</string>
	<key>DATABASE_URL</key>
	<string>https://angelhack11-7c8ce.firebaseio.com</string>
</dict>
</plist>